@model ResultBooksModel

@inject IViewLocalizer Localizer

@{
    List <ResultBooksModel> books = new();
}

<table class="table align-middle mb-0 bg-white" >
    <thead class="bg-light">
        <tr style="border: 1px groove;">
            <th style="background-color:black; -webkit-text-fill-color :white">@Localizer["Books"]</th>
            <th style="background-color:black;">@Localizer.GetString("Writers")</th>
            <th style="background-color:black;">@Localizer["Genres"]</th>
            <th style="background-color:black;">@Localizer["Price"]</th>
            <th style="background-color:black;">@Localizer["Download"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in books)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@book.CoverImageSrc"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle"/>
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@book.Name</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">@book.</p>
                </td>
                    <td>
                        @foreach (var genre in book.Genres)
                        {
                            <span class="badge badge-success rounded-pill d-inline">@genre</span>
                        }
                    
                    </td>
                <td>@book.Price</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                        @Url.Action()
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>