@inject IViewLocalizer Localizer
@inject IGenreManager Manager
@model CreateBookViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var genres = await Manager.GetGenresAsync();
    var selectItems = new List<SelectListItem>();
    if (genres.Any())
    {
        foreach (var genre in genres)
        {
           selectItems.Add(new SelectListItem { Value = genre.Name, Text = genre.Name }); 
        }
    }
}

<div class="form-container">
    <form asp-action="Create" asp-controller="Book" method="post" class="custom-form">
        <div class="row mb-4">
            <div class="col mb-4">
                <label class="form-label required-label">@Localizer["Book name"]</label>
                <div class="form-outline">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name of the book" />
                </div>
            </div>
            <div class="col mb-4">
                <label class="form-label required-label">@Localizer["Writer name"]</label>
                <div class="form-outline">
                    <input asp-for="WriterName" type="text" class="form-control" placeholder="Name of the book writer" />
                </div>
            </div>

            <!--    TODO asp-for    -->
            <div class="col-12 mb-4">
                <label class="form-label required-label">@Localizer["Book genres"]</label>
                <select asp-for="Genres" name="genres" id="genres" multiple>
                    @foreach (var item in selectItems)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="col">
                <label class="form-label">@Localizer["Book cover image"]</label>
                <div class="form-outline mb-4">
                    <input asp-for="CoverImage" type="file"  class="form-control" />
                </div>
            </div>

            <div class="col">
                <label class="form-label required-label">@Localizer["Book file"]</label>
                <div class="form-outline mb-4">
                    <input asp-for="BookFile" type="file"  class="form-control" />
                </div>
            </div>
            
            <div class="mb-4 col-12">
                <label class="form-label">@Localizer["Description"]</label>
                <textarea asp-for="Description" class="form-control" rows="6" placeholder="Some information about the book"></textarea>
            </div>
            
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">@Localizer["Create"]</button>
            </div>
        </div>
    </form>
</div>

<style>
    /* CSS styles specific to the form container */
    .form-container {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom : 25px;
    }

    /* CSS styles specific to the form */
    .custom-form {
        border: 1px solid black;
        border-width: 1px;
        border-style: solid;
        max-width: 1000px;
        width: 100%;
        padding: 25px;
        padding-bottom: 5px;
        box-sizing: border-box;
        height: fit-content;
        background-color: transparent; /* Set background to transparent */
        border-radius: 10px; /* Round the corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
        
    }

    /* Add your other form element styles here */
    .form-control {
        width: 100%;
        background-color: #f0f0f0; /* Background color */
        border-radius: 5px; /* Round the input fields */
        resize: none;
    }

    .select {
        width: 100%;
    }

    /* Customize button styles */
    .btn-primary {
        background-color: #007bff; /* Button color */
        border: none;
        border-radius: 5px; /* Round the button corners */
        color: #fff; /* Text color */
        width:25%;
        font-size: 14px;
    }

    .required-label::before {
        content: "*";
        color: red; /* Customize the color */
        margin-right: 4px; /* Add some spacing between the asterisk and the label text */
    }
</style>



